
<h1>Login Form</h1>
<input placeholder="Username" type="text" class="form-control" id="tb-user" />
<input placeholder="Password" type="text" class="form-control" id="tb-pass" />
<div class="row">
    <button id="btn-login" class="btn btn-default col-sm-6 col-md-6">Login</button>
</div>